<div class="site-header {{squeezeHeaderClass}}">
  <div class="logo-wrap">
    <div class="logo logo-image">
      {{#link-to "application"}}
        <img class={{squeezeLogoClass}} src="https://pro2-bar-s3-cdn-cf2.myportfolio.com/3f5260482ad8ab8df58d39b3c5c5d601/39229228-40ac-48b8-97b3-9df650bd5b8a_rwc_0x0x365x340x365.png?h=9485298b11b25b9a2d0d25e829840d39" alt="Vasil Rashkov">
      {{/link-to}}
    </div>
  </div>

  <nav class="editable">
    <div class="pages">
      <div class="page-title">
        {{#link-to "projects"}}
          {{t "header.navigation.workLink"}}
        {{/link-to}}
      </div>
      <div class="page-title">
        {{#link-to "about"}}
          {{t "header.navigation.about"}}
        {{/link-to}}
      </div>
      <div class="page-title">
        {{#link-to "contact"}}
          {{t "header.navigation.contact"}}
        {{/link-to}}
      </div>
    </div>
    <div class="mobile-menu">
      <BurgerMenu />
    </div>
    <div class="social pf-nav-social">
      <ul></ul>
    </div>
  </nav>
</div>
